/**
 * @file
 * Visual styles for links.
 * @see css/components/links.css
 */

[data-component-id="etc:links"] {
  /* Add your styles here */
}
[data-component-id="etc:links"] ul.inline,
[data-component-id="etc:links"] ul.links.inline {
  display: inline;
  padding-left: 0; /* LTR */
}
[dir="rtl"] [data-component-id="etc:links"] ul.inline,
[dir="rtl"] [data-component-id="etc:links"] ul.links.inline {
  padding-right: 0;
  padding-left: 15px;
}
[data-component-id="etc:links"] ul.inline li {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
}
[data-component-id="etc:links"] ul.links a.is-active {
  color: #000;
}
