/**
 * @file
 * Visual styles for a resizable textarea.
 */

[data-component-id="etc:textarea"] {
  /* Add your styles here */
}
[data-component-id="etc:textarea"].form-textarea-wrapper textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
