{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
{%
  set classes = [
    'form-textarea',
    resizable ? 'resize-' ~ resizable,
    required ? 'required',
  ]
%}
{% block content %}
  <div{{ wrapper_attributes.addClass('form-textarea-wrapper') }} data-component-id="{{ attributes['data-component-id'] }}">
  {% set attributes = attributes.removeAttribute('data-component-id') %}
    <textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
  </div>
{% endblock %}
