/**
 * @file
 * Styles for link buttons and action links.
 * @see css/components/button.css
 * @see css/components/action-links.css
 */

[data-component-id="etc:menu_local_action"] {
  /* Add your styles here */
}
.action-links {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
[dir="rtl"] [data-component-id="etc:menu_local_action"] {
  /* This is required to win over specificity of [dir="rtl"] ul */
  margin-right: 0;
}
[data-component-id="etc:menu_local_action"] li {
  display: inline-block;
  margin: 0 0.3em;
}
.action-links [data-component-id="etc:menu_local_action"] li:first-child {
  margin-left: 0; /* LTR */
}
[dir="rtl"] .action-links [data-component-id="etc:menu_local_action"] li:first-child {
  margin-right: 0;
  margin-left: 0.3em;
}
[data-component-id="etc:menu_local_action"] .button-action {
  display: inline-block;
  padding: 0.2em 0.5em 0.3em;
  text-decoration: none;
  line-height: 160%;
}
[data-component-id="etc:menu_local_action"] .button-action::before {
  margin-left: -0.1em; /* LTR */
  padding-right: 0.2em; /* LTR */
  content: "+";
  font-weight: 900;
}
[dir="rtl"] [data-component-id="etc:menu_local_action"] .button-action::before {
  margin-right: -0.1em;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0.2em;
}
/* VVP styles*/
[data-component-id="etc:menu_local_action"] .button--primary {
  background-color: #eee;
}
[data-component-id="etc:menu_local_action"] a:focus,
[data-component-id="etc:menu_local_action"] a:hover {
  background-color: #f5f5f5;
}
