/**
 * @file
 * Visual styles for etc:menu.
 * @see css/components/menu.css
 */

[data-component-id="etc:menu"] {
  /* Add your styles here */
}
[data-component-id="etc:menu"] ul.menu {
  margin-left: 1em; /* LTR */
  padding: 0;
  list-style: none outside;
  text-align: left; /* LTR */
}
[dir="rtl"] [data-component-id="etc:menu"] ul.menu {
  margin-right: 1em;
  margin-left: 0;
  text-align: right;
}
[data-component-id="etc:menu"] .menu-item--expanded {
  list-style-type: circle;
  list-style-image: url(images/icons/menu-expanded.png);
}
[data-component-id="etc:menu"] .menu-item--collapsed {
  list-style-type: disc;
  list-style-image: url(images/icons/menu-collapsed.png); /* LTR */
}
[data-component-id="etc:menu"] .menu-item--active-trail {
  list-style-type: square;/*"\1F44D";*/
}
[dir="rtl"] [data-component-id="etc:menu"] .menu-item--collapsed {
  list-style-image: url(images/icons/menu-collapsed-rtl.png);
}
[data-component-id="etc:menu"] .menu-item {
  margin: 0;
  padding-top: 0.2em;
}
[data-component-id="etc:menu"] ul.menu a.is-active {
  color: #000;
}
