/**
 * @file
 * Visual styles for tabs.
 * @see css/components/tabs.css
 */

[data-component-id="etc:menu_local_tasks"] {
  /* Add your styles here */
}
[data-component-id="etc:menu_local_tasks"] .tabs {
  margin: 1em 0;
}
[data-component-id="etc:menu_local_tasks"] ul.tabs {
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none;
}
