/**
 * @file
 * Image upload widget.
 ^ @see css/components/image-widget.css
 */

[data-component-id="etc:image_widget"] {
  /* Add your styles here */
}
[data-component-id="etc:image_widget"] .image-preview {
  float: left; /* LTR */
  padding: 0 10px 10px 0; /* LTR */
}
[dir="rtl"] [data-component-id="etc:image_widget"] .image-preview {
  float: right;
  padding: 0 0 10px 10px;
}
[data-component-id="etc:image_widget"] .image-widget-data {
  float: left; /* LTR */
}
[dir="rtl"] [data-component-id="etc:image_widget"] .image-widget-data {
  float: right;
}
[data-component-id="etc:image_widget"] .image-widget-data .text-field {
  width: auto;
}
