/**
 * @file
 * Visual styles for pager.
 * @see css/components/pager.css
 */

[data-component-id="etc:pager"] {
  /* Add your styles here */
}
[data-component-id="etc:pager"] .pager__items {
  clear: both;
  text-align: center;
}
[data-component-id="etc:pager"] .pager__item {
  display: inline;
  padding: 0.5em;
}
[data-component-id="etc:pager"] .pager__item.is-active {
  font-weight: bold;
}
