/**
 * @file
 * Default style for file module.
 * @see css/components/file.css
 */

/* File icons. */

[data-component-id="etc:file_link"] {
  /* Add your styles here */
}
[data-component-id="etc:file_link"] .file {
  display: inline-block;
  min-height: 16px;
  padding-left: 20px; /* LTR */
  background-repeat: no-repeat;
  background-position: left center; /* LTR */
}
[dir="rtl"] [data-component-id="etc:file_link"] .file {
  padding-right: 20px;
  padding-left: inherit;
  background-position: right center;
}
[data-component-id="etc:file_link"] .file--general,
[data-component-id="etc:file_link"] .file--application-octet-stream {
  background-image: url(images/icons/application-octet-stream.png);
}
[data-component-id="etc:file_link"] .file--package-x-generic {
  background-image: url(images/icons/package-x-generic.png);
}
[data-component-id="etc:file_link"] .file--x-office-spreadsheet {
  background-image: url(images/icons/x-office-spreadsheet.png);
}
[data-component-id="etc:file_link"] .file--x-office-document {
  background-image: url(images/icons/x-office-document.png);
}
[data-component-id="etc:file_link"] .file--x-office-presentation {
  background-image: url(images/icons/x-office-presentation.png);
}
[data-component-id="etc:file_link"] .file--text-x-script {
  background-image: url(images/icons/text-x-script.png);
}
[data-component-id="etc:file_link"] .file--text-html {
  background-image: url(images/icons/text-html.png);
}
[data-component-id="etc:file_link"] .file--text-plain {
  background-image: url(images/icons/text-plain.png);
}
[data-component-id="etc:file_link"] .file--application-pdf {
  background-image: url(images/icons/application-pdf.png);
}
[data-component-id="etc:file_link"] .file--application-x-executable {
  background-image: url(images/icons/application-x-executable.png);
}
[data-component-id="etc:file_link"] .file--audio {
  background-image: url(images/icons/audio-x-generic.png);
}
[data-component-id="etc:file_link"] .file--video {
  background-image: url(images/icons/video-x-generic.png);
}
[data-component-id="etc:file_link"] .file--text {
  background-image: url(images/icons/text-x-generic.png);
}
[data-component-id="etc:file_link"] .file--image {
  background-image: url(images/icons/image-x-generic.png);
}
