{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - attributes: HTML attributes for the parent template.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 * @see 'etc:form_element'
 */
#}
{% block user_content %}
  <div data-component-id="{{ attributes['data-component-id'] }}">
    {% set attributes = attributes.removeAttribute('data-component-id') %}
    <article{{ attributes.addClass('profile') }}>
      {% if content %}
        {{ content }}
      {% endif %}
    </article>
  </div>
{% endblock %}
