/**
 * @file
 * Visual styles for fields.
 * @see css/components/field.css
 */

[data-component-id="etc:field"] {
  /* Add your styles here */
}
[data-component-id="etc:field"] .field__label {
  font-weight: bold;
}
[data-component-id="etc:field"] .field--label-inline .field__label,
.field--label-inline .field__items {
  float: left; /* LTR */
}
[data-component-id="etc:field"] .field--label-inline .field__label,
[data-component-id="etc:field"] .field--label-inline > .field__item,
[data-component-id="etc:field"] .field--label-inline .field__items {
  padding-right: 0.5em;
}
[dir="rtl"] [data-component-id="etc:field"] .field--label-inline .field__label,
[dir="rtl"] [data-component-id="etc:field"] .field--label-inline .field__items {
  padding-right: 0;
  padding-left: 0.5em;
}
[data-component-id="etc:field"] .field--label-inline .field__label::after {
  content: ":";
}
