/**
 * @file
 * Table select behavior.
 *
 * @see tableselect.js
 * @see css/components/tableselect.css
 */

[data-component-id="etc:table"] tr.selected td {
  background: #ffc;
}
[data-component-id="etc:table"] td.checkbox,
[data-component-id="etc:table"] th.checkbox {
  text-align: center;
}
[dir="rtl"] [data-component-id="etc:table"] td.checkbox,
[dir="rtl"] [data-component-id="etc:table"] th.checkbox {
  /* This is required to win over specificity of [dir="rtl"] td */
  text-align: center;
}
