/**
 * @file
 * Visual styles for table drag.
 * @see css/components/tabledrag.css
 */

[data-component-id="etc:table"] tr.drag {
  background-color: #fffff0;
}
[data-component-id="etc:table"] tr.drag-previous {
  background-color: #ffd;
}
body [data-component-id="etc:table"] div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}
