{#
/**
 * @file
 * Theme override for a views mini-pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% block content %}
  {% if items.previous or items.next %}
    <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}" {{ attributes }}>
      <h4 id="{{ heading_id }}" class="pager__heading visually-hidden">{{ 'Pagination'|t }}</h4>
      <ul class="pager__items js-pager__items">
        {% if items.previous %}
          <li class="pager__item pager__item--previous">
            <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
              <span class="visually-hidden">{{ 'Previous page'|t }}</span>
              <span aria-hidden="true">{{ items.previous.text|default('‹‹'|t) }}</span>
            </a>
          </li>
        {% endif %}
        {% if items.current %}
          <li class="pager__item is-active">
            {% trans %}
              Page {{ items.current }}
            {% endtrans %}
          </li>
        {% endif %}
        {% if items.next %}
          <li class="pager__item pager__item--next">
            <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
              <span class="visually-hidden">{{ 'Next page'|t }}</span>
              <span aria-hidden="true">{{ items.next.text|default('››'|t) }}</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
