/**
 * @file
 * Base styles for dropbuttons.
 * @see web/core/dropbutton/dropbutton.css
 */

[data-component-id="etc:dropbutton_wrapper"] {
  /* Add your styles here */
}
.js [data-component-id="etc:dropbutton_wrapper"] .dropbutton-wrapper,
.js [data-component-id="etc:dropbutton_wrapper"] .dropbutton-widget {
  position: relative;
  display: block;
}
[data-component-id="etc:dropbutton_wrapper"] .dropbutton-wrapper,
[data-component-id="etc:dropbutton_wrapper"] .dropbutton-wrapper div {
  box-sizing: border-box;
}
.js [data-component-id="etc:dropbutton_wrapper"] .dropbutton-widget {
  border: 1px solid #ccc;
  background-color: white;
}
.js [data-component-id="etc:dropbutton_wrapper"] .dropbutton-widget:hover {
  border-color: #b8b8b8;
}
[data-component-id="etc:dropbutton_wrapper"] .dropbutton .dropbutton-action > * {
  padding: 0.1em 0.5em;
  white-space: nowrap;
}
[data-component-id="etc:dropbutton_wrapper"] .dropbutton .secondary-action {
  border-top: 1px solid #e8e8e8;
}
[data-component-id="etc:dropbutton_wrapper"] .dropbutton-multiple .dropbutton {
  border-right: 1px solid #e8e8e8; /* LTR */
}
[dir="rtl"] [data-component-id="etc:dropbutton_wrapper"] .dropbutton-multiple .dropbutton {
  border-right: 0 none;
  border-left: 1px solid #e8e8e8;
}
[data-component-id="etc:dropbutton_wrapper"] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0.25em; /* LTR */
}
[dir="rtl"] [data-component-id="etc:dropbutton_wrapper"] .dropbutton-multiple .dropbutton .dropbutton-action > * {
  margin-right: 0;
  margin-left: 0.25em;
}
/* VVP styles */
[data-component-id="etc:dropbutton_wrapper"] .dropbutton.dropbutton--default {
  font-size: inherit;
}
[data-component-id="etc:dropbutton_wrapper"] .dropbutton.dropbutton--small {
  font-size: 10px;
}
[data-component-id="etc:dropbutton_wrapper"] .dropbutton.dropbutton--large {
  font-size: 20px;
}
