[data-component-id="etc:mark"] {
  /* Add your styles here */
}
[data-component-id="etc:mark"].marker--new {
  color: #db0000;
}
[data-component-id="etc:mark"].marker--updated {
  color: green;
}
[data-component-id="etc:mark"].marker--read {
  color: gray;
}
