/**
 * @file
 * Visual styles for tabs.
 * @see css/components/tabs.css
 */

[data-component-id="etc:menu_local_task"] {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}
[dir="rtl"] [data-component-id="etc:menu_local_task"] {
  margin-right: 0;
  margin-left: 0.3em;
}
[data-component-id="etc:menu_local_task"] a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
}
[data-component-id="etc:menu_local_task"].is-active,
[data-component-id="etc:menu_local_task"] a.is-active {
  background-color: #eee;
}
[data-component-id="etc:menu_local_task"] a:focus,
[data-component-id="etc:menu_local_task"] a:hover {
  background-color: #f5f5f5;
}
