/**
 * @file
 * Caption filter: default styling for displaying image captions.
 * @see core/themes/stable9/css/filter/filter.caption.css
 */

[data-component-id="etc:filter_caption"] {
  /* Add your styles here */
}
/**
 * Essentials, based on http://stackoverflow.com/a/13363408.
 */
[data-component-id="etc:filter_caption"].caption {
  display: table;
}
[data-component-id="etc:filter_caption"].caption > * {
  display: block;
  max-width: 100%;
}
[data-component-id="etc:filter_caption"].caption > figcaption {
  display: table-caption;
  max-width: none;
  caption-side: bottom;
}
/**
 * While editing and whenever the caption is empty, show a placeholder.
 *
 * Based on http://codepen.io/flesler/pen/AEIFc.
 */
[data-component-id="etc:filter_caption"].caption > figcaption[contenteditable=true]:empty::before {
  content: attr(data-placeholder);
  font-style: italic;
}
