/**
 * @file
 * Basic styling for comment module.
 * @see css/components/indented.css
 */

[data-component-id="etc:comment"] {
  /* Add your styles here */
}
/**
 * Indent threaded comments.
 */
[data-component-id="etc:comment"] ~ .indented {
  margin-left: 25px; /* LTR */
}
[dir="rtl"] [data-component-id="etc:comment"] ~ .indented {
  margin-right: 25px;
  margin-left: 0;
}
