{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{% block content %}
  <div{{ attributes.addClass('layout-container') }}>
    <header role="banner">
      {% if logo or site_name or site_slogan %}
        {% set site_logo = logo ?: '' %}
        {% include 'etc:system_branding_block' %}
      {% endif %}
    </header>
    <main role="main">
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}
      {{ page.highlighted }}
      {{ page.content }}
    </main>
    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>{# /.layout-sidebar-first #}
    {% endif %}
    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>{# /.layout-sidebar-second #}
    {% endif %}
    {% if page.footer %}
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}
  </div>{# /.layout-container #}
{% endblock %}
