/**
 * @file
 * Visual styles for item list.
 * @see css/components/item-list.css
 */

[data-component-id="etc:item_list"] {
  /* Add your styles here */
}
[data-component-id="etc:item_list"] .item-list .title {
  font-weight: bold;
}
[data-component-id="etc:item_list"] .item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
[data-component-id="etc:item_list"] .item-list li {
  margin: 0 0 0.25em 1.5em; /* LTR */
  padding: 0;
}
[dir="rtl"] [data-component-id="etc:item_list"] .item-list li {
  margin: 0 1.5em 0.25em 0;
}
/**
 * Comma separated lists.
 */
[data-component-id="etc:item_list"] .item-list--comma-list {
  display: inline;
}
[data-component-id="etc:item_list"] .item-list--comma-list .item-list__comma-list,
[data-component-id="etc:item_list"] .item-list__comma-list li,
[dir="rtl"] [data-component-id="etc:item_list"] .item-list--comma-list .item-list__comma-list,
[dir="rtl"] [data-component-id="etc:item_list"] .item-list__comma-list li {
  margin: 0;
}
