/**
 * @file
 * Inline items.
 * @see css/components/container-inline.css
 */

[data-component-id="etc:container"] {
  /* Add your styles here */
}
[data-component-id="etc:container"] .container-inline label::after,
[data-component-id="etc:container"] .container-inline .label::after {
  content: ":";
}
[data-component-id="etc:container"] .form-type-radios .container-inline label::after,
[data-component-id="etc:container"] .form-type-checkboxes .container-inline label::after {
  content: "";
}
[data-component-id="etc:container"] .form-type-radios .container-inline .form-type-radio,
[data-component-id="etc:container"] .form-type-checkboxes .container-inline .form-type-checkbox {
  margin: 0 1em;
}
[data-component-id="etc:container"] .container-inline .form-actions,
[data-component-id="etc:container"] .container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
