/**
 * @file
 * Styles for breadcrumbs.
 * @see css/components/breadcrumb.css
 */
[data-component-id="etc:breadcrumb"] {
  /* Add your styles here */
}
[data-component-id="etc:breadcrumb"] .breadcrumb {
  padding-bottom: 0.5em;
}
[data-component-id="etc:breadcrumb"] .breadcrumb ol {
  margin: 0;
  padding: 0;
}
[dir="rtl"] [data-component-id="etc:breadcrumb"] .breadcrumb ol {
  /* This is required to win over specificity of [dir="rtl"] ol */
  margin-right: 0;
}
[data-component-id="etc:breadcrumb"] .breadcrumb li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* IE8 does not support :not() and :last-child. */
[data-component-id="etc:breadcrumb"] .breadcrumb li::before {
  content: " \BB ";
}
[data-component-id="etc:breadcrumb"] .breadcrumb li:first-child::before {
  content: none;
}
